TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

AUTH_SECRET=4199034db197fa33f8576c044e290254
BETTER_AUTH_URL=http://localhost:4321
PUBLIC_URL=http://localhost:4321

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
